 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/MHS25Orientation.jpg");
}

.u-section-1 .u-sheet-1 {
  min-height: 869px;
}

.u-section-1 .u-text-1 {
  letter-spacing: 8px;
  font-size: 4.5rem;
  margin: 661px auto 0;
}

.u-section-1 .u-text-2 {
  letter-spacing: normal;
  margin: 6px 57px 0;
}

.u-section-1 .u-text-3 {
  letter-spacing: 10px;
  width: 826px;
  margin: 0 auto 55px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 659px;
  }

  .u-section-1 .u-text-2 {
    letter-spacing: 4px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 641px;
  }

  .u-section-1 .u-text-3 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 647px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-text-3 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 554px;
  }

  .u-section-1 .u-text-3 {
    letter-spacing: 2px;
    width: 340px;
  }
} .u-section-2 {
  background-image: linear-gradient(#e9f2fa, #fef9e6);
}

.u-section-2 .u-sheet-1 {
  min-height: 600px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 46px;
  margin-bottom: 46px;
}

.u-section-2 .u-image-1 {
  min-height: 500px;
  background-image: url("images/MESA25 Committee.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 467px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-2 .u-text-1 {
  margin: 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-2 .u-btn-1 {
  margin-left: auto;
  margin-right: auto;
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 318px;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 203px;
  }

  .u-section-2 .u-image-1 {
    min-height: 385px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 385px;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 66px;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 77px;
  }

  .u-section-2 .u-image-1 {
    min-height: 295px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-image-1 {
    min-height: 443px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-image-1 {
    min-height: 279px;
  }
}.u-block-6569-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-6569-3 {
  position: absolute;
  left: calc(((100% - 1140px) / 2)  + -68px);
  width: 87px;
  height: 87px;
  top: 281px;
  right: auto;
  padding: 23px;
}

.u-block-6569-4 {
  position: absolute;
  width: 87px;
  height: 87px;
  left: auto;
  top: 291px;
  right: calc(((100% - 1140px) / 2)  + -46px);
  padding: 23px;
}

@media (max-width: 1199px) {
  .u-block-6569-3 {
    left: calc(((100% - 940px) / 2)  + -56px);
  }

  .u-block-6569-4 {
    right: calc(((100% - 940px) / 2)  + -38px);
  }
}

@media (max-width: 991px) {
  .u-block-6569-3 {
    left: calc(((100% - 720px) / 2)  + -43px);
  }

  .u-block-6569-4 {
    right: calc(((100% - 720px) / 2)  + -29px);
  }
}

@media (max-width: 767px) {
  .u-block-6569-3 {
    left: calc(((100% - 540px) / 2)  + -32px);
  }

  .u-block-6569-4 {
    right: calc(((100% - 540px) / 2)  + -22px);
  }
}

@media (max-width: 575px) {
  .u-block-6569-3 {
    left: calc(((100% - 340px) / 2)  + -20px);
  }

  .u-block-6569-4 {
    right: calc(((100% - 340px) / 2)  + -14px);
  }
}

 .u-section-3-1 {
  background-image: linear-gradient(white, #fef9e6);
}

.u-section-3-1 .u-sheet-1 {
  min-height: 595px;
}

.u-section-3-1 .u-layout-wrap-1 {
  width: 100%;
  margin: 10px 0 0;
}

.u-section-3-1 .u-layout-cell-1 {
  min-height: 571px;
}

.u-section-3-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-3-1 .u-icon-1 {
  height: 67px;
  width: 67px;
  margin: 37px auto 0;
}

.u-section-3-1 .u-text-1 {
  font-size: 2.25rem;
  margin: 30px 60px 0;
}

.u-section-3-1 .u-text-2 {
  font-size: 1.125rem;
  margin: 20px 60px 0;
}

.u-section-3-1 .u-btn-1 {
  border-style: none none solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px auto 0 60px;
  padding: 0;
}

.u-section-3-1 .u-image-1 {
  min-height: 571px;
  background-image: url("images/SubangMROVisit.png");
  background-position: 50% 50%;
}

.u-section-3-1 .u-container-layout-2 {
  padding: 0;
}

@media (max-width: 991px) {
  .u-section-3-1 .u-sheet-1 {
    min-height: 124px;
  }

  .u-section-3-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3-1 .u-image-1 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-3-1 .u-sheet-1 {
    min-height: 224px;
  }
}

@media (max-width: 575px) {
  .u-section-3-1 .u-sheet-1 {
    min-height: 915px;
  }

  .u-section-3-1 .u-layout-cell-1 {
    order: 1;
  }

  .u-section-3-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-3-1 .u-text-2 {
    font-size: 0.875rem;
  }

  .u-section-3-1 .u-btn-1 {
    margin-left: auto;
  }

  .u-section-3-1 .u-image-1 {
    min-height: 333px;
    order: 0;
  }
}

 .u-section-3-2 {
  background-image: linear-gradient(white, #e9f2fa);
}

.u-section-3-2 .u-sheet-1 {
  min-height: 595px;
}

.u-section-3-2 .u-layout-wrap-1 {
  margin-top: 10px;
  margin-bottom: 0;
}

.u-section-3-2 .u-layout-cell-1 {
  min-height: 571px;
}

.u-section-3-2 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-3-2 .u-icon-1 {
  height: 67px;
  width: 67px;
  margin: 7px auto 0;
}

.u-section-3-2 .u-text-1 {
  font-size: 2.25rem;
  margin: 30px 0 0;
}

.u-section-3-2 .u-text-2 {
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-3-2 .u-btn-1 {
  border-style: none none solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-3-2 .u-image-1 {
  min-height: 571px;
  background-image: url("images/MESAOrientation25.png");
  background-position: 50% 50%;
}

.u-section-3-2 .u-container-layout-2 {
  padding: 30px 60px;
}

@media (max-width: 1199px) {
  .u-section-3-2 .u-sheet-1 {
    min-height: 646px;
  }

  .u-section-3-2 .u-layout-wrap-1 {
    margin-top: 71px;
  }

  .u-section-3-2 .u-layout-cell-1 {
    min-height: 471px;
  }

  .u-section-3-2 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-3-2 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-3-2 .u-image-1 {
    min-height: 471px;
  }
}

@media (max-width: 991px) {
   .u-section-3-2 {
    min-height: 108px;
  }

  .u-section-3-2 .u-sheet-1 {
    min-height: 564px;
  }

  .u-section-3-2 .u-layout-wrap-1 {
    margin-top: 65px;
    margin-bottom: 60px;
  }

  .u-section-3-2 .u-layout-cell-1 {
    min-height: 435px;
  }

  .u-section-3-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 0;
  }

  .u-section-3-2 .u-icon-1 {
    height: 48px;
    width: 48px;
  }

  .u-section-3-2 .u-text-1 {
    font-size: 1.125rem;
  }

  .u-section-3-2 .u-text-2 {
    font-size: 0.875rem;
  }

  .u-section-3-2 .u-image-1 {
    min-height: 435px;
  }

  .u-section-3-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
   .u-section-3-2 {
    min-height: 389px;
  }

  .u-section-3-2 .u-sheet-1 {
    min-height: 871px;
  }

  .u-section-3-2 .u-layout-cell-1 {
    min-height: 100px;
    order: 1;
  }

  .u-section-3-2 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-3-2 .u-image-1 {
    min-height: 653px;
    order: 0;
  }

  .u-section-3-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-3-2 {
    min-height: 184px;
  }

  .u-section-3-2 .u-sheet-1 {
    min-height: 915px;
  }

  .u-section-3-2 .u-layout-wrap-1 {
    margin-top: 20px;
    margin-bottom: 0;
  }

  .u-section-3-2 .u-image-1 {
    min-height: 341px;
  }
}

} .u-section-4 {
  min-height: 408px;
  background-image: url("images/59304a23803de91bd15014eb72454339.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 1273px;
}

.u-section-4 .u-text-1 {
  margin: 50px auto 0;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 50px;
  margin-bottom: 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 290px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-4 .u-icon-1 {
  height: 50px;
  width: 48px;
  margin: 0 auto;
  padding: 0;
}

.u-section-4 .u-text-2 {
  margin: 30px 0 0;
}

.u-section-4 .u-text-3 {
  font-weight: normal;
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-4 .u-image-1 {
  min-height: 290px;
  background-image: url("images/20181003_150650.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 321px;
  order: 1;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-icon-2 {
  height: 59px;
  width: 55px;
  margin: 0 auto 0 220px;
  padding: 0;
}

.u-section-4 .u-text-4 {
  margin: 32px 0 0;
}

.u-section-4 .u-text-5 {
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-4 .u-image-2 {
  min-height: 321px;
  background-image: url("images/image7.png");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

.u-section-4 .u-layout-cell-5 {
  min-height: 386px;
}

.u-section-4 .u-container-layout-5 {
  padding: 30px;
}

.u-section-4 .u-icon-3 {
  height: 56px;
  width: 48px;
  margin: 0 auto;
}

.u-section-4 .u-text-6 {
  margin: 30px auto 0;
}

.u-section-4 .u-text-7 {
  font-size: 1.125rem;
  margin: 21px 0 0;
}

.u-section-4 .u-image-3 {
  min-height: 386px;
  background-image: url("images/image3.png");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-6 {
  padding: 30px;
}

.u-section-4 .u-btn-1 {
  font-size: 1.25rem;
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 77px 0 14px auto;
}

@media (max-width: 1199px) {
   .u-section-4 {
    min-height: 233px;
  }

  .u-section-4 .u-sheet-1 {
    min-height: 1098px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 239px;
  }

  .u-section-4 .u-image-1 {
    min-height: 239px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 265px;
  }

  .u-section-4 .u-icon-2 {
    margin-left: 177px;
  }

  .u-section-4 .u-image-2 {
    min-height: 265px;
  }

  .u-section-4 .u-layout-cell-5 {
    background-position: 50% 50%;
    min-height: 318px;
  }

  .u-section-4 .u-icon-3 {
    padding: 0;
  }

  .u-section-4 .u-image-3 {
    min-height: 318px;
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 41px;
  }

  .u-section-4 .u-sheet-1 {
    min-height: 906px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-image-1 {
    min-height: 183px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-4 .u-icon-2 {
    margin-left: 130px;
  }

  .u-section-4 .u-image-2 {
    min-height: 203px;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-4 .u-image-3 {
    min-height: 244px;
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 657px;
  }

  .u-section-4 .u-sheet-1 {
    min-height: 1522px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-1 {
    min-height: 275px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-2 {
    min-height: 305px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-3 {
    min-height: 366px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 330px;
  }

  .u-section-4 .u-sheet-1 {
    min-height: 1952px;
  }

  .u-section-4 .u-layout-cell-1 {
    order: 1;
  }

  .u-section-4 .u-image-1 {
    min-height: 173px;
    order: 0;
  }

  .u-section-4 .u-icon-2 {
    margin-left: auto;
  }

  .u-section-4 .u-image-2 {
    min-height: 192px;
  }

  .u-section-4 .u-image-3 {
    min-height: 230px;
  }

  .u-section-4 .u-btn-1 {
    font-size: 1rem;
    margin-right: auto;
    padding: 10px 10px 10px 8px;
  }
} .u-section-5 {
  min-height: 744px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-image-1 {
  background-image: url("images/MESA2526.jpg");
  background-position: 50% 50%;
  min-height: 800px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-5 .u-image-2 {
  min-height: 333px;
  background-image: url("images/image2.png");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 53px;
}

.u-section-5 .u-text-1 {
  font-size: 2.25rem;
  margin: 0 13px 0 0;
}

.u-section-5 .u-text-2 {
  font-size: 1.5rem;
  width: 871px;
  margin: 42px auto 0;
}

.u-section-5 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 0px;
  align-self: center;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: 26px auto 0;
}

@media (max-width: 1199px) {
   .u-section-5 {
    min-height: 614px;
  }

  .u-section-5 .u-image-1 {
    min-height: 339px;
  }

  .u-section-5 .u-image-2 {
    min-height: 275px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 0;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-top: 49px;
  }

  .u-section-5 .u-btn-1 {
    margin-top: 67px;
    padding: 10px 46px 10px 44px;
  }
}

@media (max-width: 991px) {
   .u-section-5 {
    min-height: 399px;
  }

  .u-section-5 .u-image-1 {
    min-height: 260px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-image-2 {
    min-height: 211px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
   .u-section-5 {
    min-height: 334px;
  }

  .u-section-5 .u-image-1 {
    background-position: 48.13% 50%;
    min-height: 253px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-2 {
    min-height: 158px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (max-width: 575px) {
   .u-section-5 {
    min-height: 542px;
  }

  .u-section-5 .u-image-1 {
    background-position: 51.38% 50%;
    min-height: 215px;
  }

  .u-section-5 .u-image-2 {
    min-height: 369px;
  }

  .u-section-5 .u-container-layout-2 {
    padding: 14px 0;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.875rem;
    width: 240px;
    margin-top: 24px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-text-2 {
    font-size: 1.25rem;
    margin-top: 24px;
    margin-left: 19px;
    margin-right: 19px;
  }

  .u-section-5 .u-btn-1 {
    margin-top: 31px;
    padding: 12px 42px 13px 41px;
  }
} .u-section-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.65), rgba(0,0,0,0.65)), url("images/DSC_1252_1000.jpg");
  background-position: 50% 50%;
}

.u-section-6 .u-sheet-1 {
  min-height: 600px;
}

.u-section-6 .u-text-1 {
  margin: 36px auto 0;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 36px;
  margin-bottom: 60px;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 420px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-image-1 {
  width: 300px;
  height: 300px;
  background-image: url("images/SunCon-Logo-01-01.png");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 420px;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-text-2 {
  margin: 0 auto 0 0;
}

.u-section-6 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-6 .u-btn-1 {
  background-image: none;
  font-size: 1rem;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 466px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 346px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 346px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 385px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-image-1 {
    width: 216px;
    height: 216px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 738px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 546px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 475px;
  }

  .u-section-6 .u-text-2 {
    width: 227px;
    margin-left: auto;
  }

  .u-section-6 .u-btn-1 {
    margin-right: auto;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 607px;
}

.u-section-7 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 0;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 547px;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-7 .u-text-1 {
  font-size: 2.25rem;
  margin: 1px 128px 0 139px;
}

.u-section-7 .u-form-1 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 547px;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px 40px;
}

.u-section-7 .u-text-2 {
  font-size: 2.25rem;
  margin: 0 auto 0 2px;
}

.u-section-7 .u-text-3 {
  font-size: 1.25rem;
  margin: 24px 38px 0 2px;
}

.u-section-7 .u-text-4 {
  font-size: 2.25rem;
  margin: 39px 39px 0 0;
}

.u-section-7 .u-social-icons-1 {
  height: 48px;
  min-height: 16px;
  width: 184px;
  min-width: 88px;
  margin: 24px auto 0 0;
}

.u-section-7 .u-icon-1 {
  color: rgb(0, 0, 0) !important;
}

.u-section-7 .u-icon-2 {
  color: rgb(0, 0, 0) !important;
}

.u-section-7 .u-icon-3 {
  height: 100%;
  color: rgb(0, 0, 0) !important;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 597px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-bottom: 60px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 528px;
  }

  .u-section-7 .u-text-1 {
    width: 173px;
    margin-left: 89px;
    margin-right: 78px;
  }

  .u-section-7 .u-form-1 {
    margin-top: 20px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 528px;
  }

  .u-section-7 .u-text-3 {
    width: auto;
    margin-top: 11px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-4 {
    width: auto;
    margin-top: 61px;
    margin-right: 0;
  }

  .u-section-7 .u-social-icons-1 {
    height: 44px;
    width: 171px;
    margin-top: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 269px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-7 .u-text-1 {
    margin-left: 64px;
    margin-right: 53px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 281px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-7 .u-text-3 {
    margin-top: 17px;
  }

  .u-section-7 .u-social-icons-1 {
    height: 50px;
    width: 190px;
    margin-top: 14px;
    margin-right: -34px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 464px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 191px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 278px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-text-3 {
    margin-top: 14px;
  }

  .u-section-7 .u-social-icons-1 {
    height: 47px;
    width: 180px;
    margin-top: 17px;
    margin-right: 208px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 570px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 290px;
  }

  .u-section-7 .u-text-1 {
    font-size: 1.875rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 265px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-7 .u-text-2 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 5px;
  }

  .u-section-7 .u-text-3 {
    margin-top: 1px;
  }

  .u-section-7 .u-text-4 {
    font-size: 1.875rem;
    margin-top: 48px;
  }

  .u-section-7 .u-social-icons-1 {
    width: 181px;
    margin-top: 5px;
    margin-right: auto;
  }
}
